body {
    margin: 0px
    }
    .bandeau{   
    
        background-color: rgb(0, 174, 255); /* Le fond de la page sera bleu  */
        height: 100px;
        width: 100%;
        text-align: center; /*le texte sera centrer*/
     }
    
     .contenu{
    
        background-color:yellow ;
        height: 700px;
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 20px;
       
    
     }
    .p1{
    
       color: blue;
       font-size: 20px;
    }
    
    
     .footer{
        background-color: green; 
        height: 100px;
        width: 100%;
        text-align: center; 
        display: flex;
        flex-direction: column;
        justify-content: center;
     }
    
    
     .center{
        display: flex;
        flex-direction: column;
        justify-content: center;}