body {
    margin: 0px
    }

.bandeau{   

    background-color: rgb(0, 174, 255); /* Le fond de la page sera bleu  */
    height: 100px;
    width: 100%;
    text-align: center; /*le texte sera centrer*/
 }
 .menu{
    background-color: green;
    height: 219px;
    width: 100%;
    text-align: center; 

 }
 .menu2{
    background-color: rgb(177, 88, 177);
    height:219px;
    width: 100%;
    text-align: center;


 }





 .footer{
    background-color:rgb(0, 223, 111);
    height: 100px;
    width: 100%;
    text-align: center;

 }
 section{

    
      height: calc(100% - 200px);
      width: 100%;
      display: flex;
      text-align: center;
   

 }
 .contenu{

   
      background-color: yellow;
      height: 100%;
      width: 100%;
 }
